<nav role="navigation" class="primary-navigation">
  <!-- <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Work &dtrif;</a>
      <ul class="dropdown">
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Illustration</a></li>
        <li><a href="#">Iconography</a></li>
      </ul>
    </li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul> -->

  <ul>
    <li>
      <!-- Menu &dtrif; -->
      <a href="#">
        <img width="30"
          class="author-image"
          style="border-radius: 50%;"
          src="{{ .Site.Data.author.image | relURL }}"
          alt="{{ .Site.Data.author.name }}">
      </a>
      <ul>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
      {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
      {{ $active = or $active (eq (.URL | relLangURL) ($currentPage.RelPermalink | relLangURL)) }}
      <li title="{{.Identifier}}" class="menu-item-{{ .Name | lower }} {{ if $active }}active{{ end }}">
        <a href="{{.URL}}">
          {{ .Pre }}
          <span>{{ .Name }}</span>
        </a>
      </li>
      {{end}}
    </li>
  </ul>
</nav>
