{{ define "body_classes" }}page-blog-single{{ end }}

{{ define "main" }}
  <div class="blog">
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>
      {{ if .Site.Params.showAuthorOnPosts }}
        {{ partial "author.html" . }}
      {{ end }}

      {{ $post_image := or .Params.featured_image .Params.image }}
      {{ if $post_image }}
        <img  class="featured_image"
              alt="{{.Params.imageAltAttribute | default "Article hero image"}}"
              src="{{ $post_image | relURL }}" />
      {{ end }}
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    <div class="tags">
    {{ $tags := .Params.tags }}
    {{ if $tags }}
      {{ range $tags }}
        <span>{{ . }}</span>
      {{ end }}
    {{ end }}
    </div>

  </div>
{{ end }}
