@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
	--code-font: 'Nanum Gothic Coding';
	--code-font-size: 20px;
	--code-block-font: var(--code-font);
	--code-block-font-size: 18px;
}

@media (min-width: 48em) {
	.content {
		max-width: 47rem;
	}
}

body {
	background-image: url(/images/page-bg.png)
}

hr {
	border-top: 1px solid #aca5a5;
}

.sidebar {
	overflow: auto;
	background-color: #323954;
}

.sidebar h1 {
	font-family: Special Elite, fantasy;
	font-weight: bold;
}

.sidebar h1 + .lead {
	font-size: 16px;
}

article.post h1.post-title {
	font-size: 1.7rem;
}

li {
	line-height: 1.7em;
	margin-bottom: 10px;
}

.post p>img, .post li>img {
	margin-top: 40px;
	margin-bottom: 50px;
	border: 1px solid silver;
	box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.post-date {
	font-size: 14px;
}

.read-more-link a:hover {
	background-color: #323954;
	color: snow;
}

.social-icons {
	display: flex;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}

.social-icons a {
	color: snow;
}

.social-icons a[title="Twitter"]:hover {
	color: cornflowerblue;
}

.social-icons a[title="Stackoverflow"]:hover {
	color: orange;
}

.social-icons a[title="GitHub"] svg:hover {
	border-radius: 50%;
	box-shadow:
		0 0 60px 30px #fff
		, 0 0 100px 60px #f0f
		/* , 0 0 140px 90px #0ff */
		;
}

.content.container .posts .post {
	border: 1px solid silver;
	padding: 45px 25px;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.2);
}

.content.container .posts .post:hover {
	box-shadow: 10px 10px 15px 5px;
}

div.highlight pre {
	font-size: var(--code-block-font-size);
}

div.highlight pre code {
	font-family: var(--code-block-font), monospace;
	font-weight: normal;
	line-height: 1.8em !important;
	tab-size: 2;
}

code {
	font-family: var(--code-font), monospace;
	font-size: 100% !important;
}

h1 code,
h2 code,
h3 code,
h4 code {
	font-size: inherit;
}

p code {
	font-family: var(--code-font), monospace;
	font-size: var(--code-font-size);
}

blockquote code {
	font-style: normal;
}

ul.sidebar-nav li {
	display: inline;
	font-size: 14px;
	margin-right: 10px;
}


.banner-strip {
	height: 300px;
	overflow: hidden;
}

.blog-search-section {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
}

.blog-search-box {
	width: fit-content;
	height: fit-content;
	position: relative;
}

.blog-search-input {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 18px;
	letter-spacing: 2px;
	outline: none;
	border-radius: 25px;
	transition: all .5s ease-in-out;
	/*background-color: #22a6b3;*/
	background-color: #323954;
	padding-right: 40px;
	color: #fff;
}

.blog-search-input::placeholder {
	color: rgba(255, 255, 255, .5);
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: 100;
}

.blog-search-btn {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	border-color: snow;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}

.blog-search-btn:hover {
	border: 2px solid snow;
}

.blog-search-btn:focus~.blog-search-input {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}

.blog-search-input:focus {
	width: 300px;
	border-radius: 0px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, .5);
	transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}
