:root {
   --code-font: 'Nanum Gothic Coding';
   --code-font-size: 20px;
   --code-block-font: var(--code-font);
   --code-block-font-size: 18px;
}

@media (min-width: 48em) {
   .content {
      max-width: 47rem;
   }
}

body {
	background-image: url(/images/page-bg.png)
}

.sidebar {
  background-color: #323954;
}

.sidebar h1 {
   font-family: fantasy;
   font-weight: bold;
}

.lead {
   /* font-family: inherit; */
   /* font-style: italic; */
}

article.post h1.post-title {
  font-size: 1.7rem;
}

 li {
   line-height: 1.7em;
   margin-bottom: 10px;
}

.post-date {
	font-size: 14px;
}

.read-more-link a:hover {
	background-color: #323954;
	color: snow;
}

.social-icons a {
	margin-right: 15px;
}

.content.container .posts .post {
	border: 1px solid silver;
	padding: 45px 25px;
	box-shadow: 0 20px 50px rgba(0,0,0,0.2); /*rgba(240, 46, 170, 0.7);*/
  background: snow;
}

.content.container .posts .post:hover {
	box-shadow:  10px 10px 15px 5px;
}

div.post pre code {
  font-family: var(--code-block-font), monospace;
  font-size: var(--code-block-font-size);
  font-weight: normal;
  line-height: 1.8em !important;
  tab-size: 2;
}

code {
   font-family: var(--code-font), monospace;
}

h1 code, h2 code, h3 code, h4 code {
   font-size: inherit;
}

p code {
  font-family: var(--code-font), monospace;
  font-size: var(--code-font-size);
}

blockquote code {
   font-style: normal;
}

ul.sidebar-nav li {
	display: inline;
	font-size: 14px;
	margin-right: 10px;
}

.sidebar2 {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(153,103,186,1) 41.2%, rgba(0,113,227,1) 90% );
  background-image: linear-gradient( 135deg, #FFAA85 10%, #B3315F 100%);
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);

  background: #0F2027;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background: #aa4b6b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3b8d99, #6b6b83, #aa4b6b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
