@use "variables";

@font-face {
  font-family: "Literata";
  src:
    local('Literata')
    url("/fonts/literata.woff2") format("woff");
}

* {
  box-sizing: border-box;

  ::before,
  ::after {
    box-sizing: border-box;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
