{{ define "body_classes" }}page-page-single{{ end }}

{{ define "main" }}
  <div class="blog">
    <div class="intro">
      <h1>{{ .Title }}{{ if .Site.Params.addDot }}<span class="dot">.</span>{{ end }}</h1>

      {{ if and .Site.Params.showAuthorOnPosts (not .Params.hideAuthor) }}
        {{ partial "author.html" . }}
      {{ end }}

      {{ $page_image := or .Params.featured_image .Params.image }}
      {{ if $page_image }}
        <img class="featured_image" alt="{{.Params.imageAltAttribute | default "Article hero image"}}" src="{{ $page_image | relURL }}" />
      {{ end }}
    </div>

    <div class="content">
      {{ .Content }}
    </div>
  </div>
{{ end }}
